<%- include('layouts/header', { title: "ページが見つかりません" }) %>
  <div class="container">
    <h1>404 - ページが見つかりません</h1>
    <p>申し訳ありませんが、お探しのページは見つかりませんでした。</p>
    <a href="/items">商品一覧へ戻る</a>
  </div>
  <%- include('layouts/footer.ejs') %>